{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}

    <div class="home-intro">
        <img class="home-intro__card" src="{{ asset('images/cards/cigarette.png') }}" alt="Carte Barter Jailer">

        <div>
            <h1>Barter Jailer</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut sodales elit. Duis interdum pulvinar ex a scelerisque. Cras sagittis, purus eget luctus lobortis, lorem dui ullamcorper nisi, nec ornare elit lacus in justo. In sit amet dui arcu. </p>
        </div>
    </div>

    <div class="separator"></div>

    <div class="home-description">
        <img src="{{ asset('images/mockup.png') }}" alt="Mockup Barter Jailer">

        <div>
            <h2>Barter Jailer, qu’est ce que c’est ?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut sodales elit. Duis interdum pulvinar ex a scelerisque. Cras sagittis, purus eget luctus lobortis, lorem dui ullamcorper nisi, nec ornare elit lacus in justo. In sit amet dui arcu. Nullam vehicula tellus quis sapien tempus, a auctor ante commodo. Aliquam fermentum, est at egestas gravida, felis erat volutpat erat, id condimentum mi dolor sed risus. Donec quis eros in turpis accumsan finibus vel non ligula.</p>
            <p>Fusce ante tellus, viverra vitae mauris non, mollis tempor ex. Duis rutrum accumsan arcu, non pretium odio fermentum a. Proin pulvinar pellentesque orci non consectetur. Praesent tempus sit amet mauris imperdiet volutpat. In eu auctor odio. Proin non congue nulla, non tempus erat. Proin purus nisl, tempus quis eleifend eu, fermentum a nibh.</p>
        </div>
    </div>

    <div class="home-rules">
        <h2>Comment jouer à Barter Jailer</h2>

        <div class="rules-content">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut sodales elit. Duis interdum pulvinar ex a scelerisque. Cras sagittis, purus eget luctus lobortis, lorem dui ullamcorper nisi, nec ornare elit lacus in justo. In sit amet dui arcu. Nullam vehicula tellus quis sapien tempus, a auctor ante commodo. Aliquam fermentum, est at egestas gravida, felis erat volutpat erat, id condimentum mi dolor sed risus. Donec quis eros in turpis accumsan finibus vel non ligula.</p>
                <p>Fusce ante tellus, viverra vitae mauris non, mollis tempor ex. Duis rutrum accumsan arcu, non pretium odio fermentum a. Proin pulvinar pellentesque orci non consectetur. Praesent tempus sit amet mauris imperdiet volutpat. In eu auctor odio. Proin non congue nulla, non tempus erat. Proin purus nisl, tempus quis eleifend eu, fermentum a nibh.</p>
                <a id="more-button" href="">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 51 51" xml:space="preserve">
                        <polygon points="7.6,15.7 25.8,33.9 43.9,15.7 50,21.9 26,45.9 1.4,21.3 "/>
                    </svg>
                    <span>PLUS D’INFORMATIONS</span>
                </a>
            </div>

            <img src="{{ asset('images/rules-cards.png') }}" alt="Cartes Barter Jailer">
        </div>

        <div class="rules-appear">
            <div class="rules-content">
                <img src="{{ asset('avatars/jules.png') }}" alt="Marcel Barter Jailer">

                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut sodales elit. Duis interdum pulvinar ex a scelerisque. Cras sagittis, purus eget luctus lobortis, lorem dui ullamcorper nisi, nec ornare elit lacus in justo. In sit amet dui arcu. Nullam vehicula tellus quis sapien tempus, a auctor ante commodo. Aliquam fermentum, est at egestas gravida, felis erat volutpat erat, id condimentum mi dolor sed risus. Donec quis eros in turpis accumsan finibus vel non ligula.</p>
                    <p>Fusce ante tellus, viverra vitae mauris non, mollis tempor ex. Duis rutrum accumsan arcu, non pretium odio fermentum a. Proin pulvinar pellentesque orci non consectetur. Praesent tempus sit amet mauris imperdiet volutpat. In eu auctor odio. Proin non congue nulla, non tempus erat. Proin purus nisl, tempus quis eleifend eu, fermentum a nibh.</p>
                </div>
            </div>
            <div class="rules-content">
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut sodales elit. Duis interdum pulvinar ex a scelerisque. Cras sagittis, purus eget luctus lobortis, lorem dui ullamcorper nisi, nec ornare elit lacus in justo. In sit amet dui arcu. Nullam vehicula tellus quis sapien tempus, a auctor ante commodo. Aliquam fermentum, est at egestas gravida, felis erat volutpat erat, id condimentum mi dolor sed risus. Donec quis eros in turpis accumsan finibus vel non ligula.</p>
                    <p>Fusce ante tellus, viverra vitae mauris non, mollis tempor ex. Duis rutrum accumsan arcu, non pretium odio fermentum a. Proin pulvinar pellentesque orci non consectetur. Praesent tempus sit amet mauris imperdiet volutpat. In eu auctor odio. Proin non congue nulla, non tempus erat. Proin purus nisl, tempus quis eleifend eu, fermentum a nibh.</p>
                </div>

                <img src="{{ asset('images/rules-tokens.png') }}" alt="Marcel Barter Jailer">
            </div>
        </div>

    </div>

    <div class="separator"></div>

    <div class="home-rules home-game">
        <h2>Barter Jailer</h2>

        <img src="{{ asset('images/home-game.png') }}" alt="Plateau de jeu Barter Jailer">

        <div>
            <a href="http://149.91.82.236/promo">Acheter</a>
            <img src="{{ asset('images/home-gardien.png') }}" alt="Gardien de jeu Barter Jailer">
            <a href="{{ path('app_game_home') }}">Jouer</a>
        </div>
    </div>

{% endblock %}
