<style>
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

    @font-face {
        font-family: 'krungthep';
        src: {{ absolute_url('fonts/krungthep.ttf') }};
    }

    * {
        font-family: 'Ubuntu', sans-serif;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    h1 {
        font-family: 'krungthep', sans-serif !important;
    }

    #barreau {
        background-image: url("{{ absolute_url('images/mail-barreau.png') }}");
        background-size: cover;
    }

    #logo {
        background: #1F294E;
        padding: 20px;
        border-radius: 10px;
        -webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.05);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.05);box-shadow:0 6px 18px 0 rgba(0,0,0,.05);
    }

    #btn {
        background:#FF6C40;
        text-decoration:none !important;
        font-weight:bold;
        margin-top:35px;
        color:#fff;
        text-transform:uppercase;
        font-size:14px;
        padding:10px 24px;
        display:inline-block;
        border-radius:5px;
        transition: all ease 0.2s;
    }

    #btn:hover {
        background: #d95b36;;
    }
</style>

<body marginheight="0"
      marginwidth="0"
      style="margin: 0;
      background-color: #f2f3f8;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;">
<table style="margin: auto">
    <tr>
        <td>
            <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto;">
                <tr>
                    <td style="height:80px;">&nbsp;</td>
                </tr>
                <tr id="barreau" style="
                    height: 150px;
                    background-image: url('http://193.168.146.106/jeu/images/mail-barreau.png');
                    background-size: cover;">
                    <td style="text-align:center;">
                        <img id="logo" width="150" src="http://193.168.146.106/jeu/images/logo-white.png" title="Logo BarterJailer" alt="Logo BarterJailer"
                             style="background: #1F294E;
                            padding: 20px;
                            border-radius: 10px;
                            -webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.05);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.05);box-shadow:0 6px 18px 0 rgba(0,0,0,.05);">
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                            <tr>
                                <td style="height:40px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="padding:0 35px;">
                                    <h1 style="color:#1e1e2d; font-weight:500; margin:0;font-size:32px;font-family: 'krungthep', sans-serif !important;">
                                        Bienvenue en prison {{ player.username }} !
                                    </h1>
                                    <span style="display:inline-block; vertical-align:middle; margin:20px 0 26px; border-bottom:2px solid #1F294E; width:200px;"></span>
                                    <p style="color:#455056; font-size:15px;line-height:24px; margin:0;">
                                        Cet uniforme de gardien vous va comme un gant !<br><br>
                                        Mais ne vous emballez pas, c'est loin d'être suffisant pour être respecté entre les murs de la prison.
                                        Et croyez moi, il ne vaut mieux pas se laisser marcher dessus ici. <br><br>
                                        Pour se faire respecter, il n'y a qu'une solution : se mettre les prisonniers dans la poche.
                                        Il y a beaucoup d'objets qui circulent dans cette forteresse, tirez en profit pour bâtir votre réputation.
                                        <br><br>
                                        Mais attention, vous n'êtes pas le seul garde à avoir cet objectif...
                                    </p>
                                    <a id="btn" href="{{ signedUrl }}"
                                        style="background:#FF6C40;
                                                text-decoration:none !important;
                                                font-weight:bold;
                                                margin-top:35px;
                                                color:#fff;
                                                text-transform:uppercase;
                                                font-size:14px;
                                                padding:10px 24px;
                                                display:inline-block;
                                                border-radius:5px;
                                                transition: all ease 0.2s;">
                                        CONFIRMER VOTRE EMAIL
                                    </a>
                                    <p>
                                        <i style="font-size: 10px">Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</i>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="height:40px;">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                <tr>
                    <td style="height:20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <p style="font-weight: 300; font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">&copy; barterjailer.fr</p>
                    </td>
                </tr>
                <tr>
                    <td style="height:80px;">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>