<header class="main-menu">


    <nav class="main-menu__left">
        <a href="{{ path('app_home') }}" class=" main-menu__link {% if app.request.attributes.get('_route') == 'app_home' %}active{% endif %}" title="Accueil">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96.9 115.2">
                <path d="M346.4,378.6c-.1-9.8-5.3-15.1-14.9-15.1q-33.3-.3-66.6,0c-10.1,0-15.2,5.2-15.3,15.4q-.2,42,0,84c.1,10.2,5.2,15.5,15.3,15.6,21.9.1,43.9.1,65.8,0,10.6-.1,15.6-5.2,15.7-15.9C346.4,434.6,346.5,406.6,346.4,378.6Zm-9.1,43c0,13.1-.2,26.2.1,39.3.2,6-1.6,8.7-8.1,8.6-20.9-.3-41.8-.2-62.7,0-5.9.1-8.1-2-8-7.9q.3-40.5,0-81c-.1-6.4,2.3-8.3,8.4-8.2q31,.5,62,0c6.2-.1,8.6,2,8.4,8.3C337.1,394.3,337.3,407.9,337.3,421.6Z" transform="translate(-249.6 -363.4)" />
                <path d="M297.5,454.3c-4.8,0-9.6-.1-14.3,0s-6.3-.8-6.2-4.7,2.6-4.4,5.7-4.4h30.9c3.1,0,5.6,1.2,5.5,4.7s-2.7,4.4-5.8,4.4C308,454.2,302.7,454.3,297.5,454.3Z" transform="translate(-249.6 -363.4)" />
                <path d="M273,436.1c-2.1-.2-4.9.8-6.8-1.4s-1.7-6.3,2.1-7.4,6-.3,9-.3,5.6,1.2,5.5,4.7-2.7,4.5-5.8,4.4Z" transform="translate(-249.6 -363.4)" />
                <path d="M325.3,388.1c.1-5-2.5-6.7-7.1-6.6-13.6.2-27.2.1-40.8.1-4.2-.1-6.7,1.4-6.6,6v21.2c-.1,4.6,2.3,6.1,6.6,6.1h41.5c4.5,0,6.4-2.1,6.4-6.4C325.2,401.7,325.1,394.9,325.3,388.1Zm-39.4,10.2v5.2c0,2.7-2.1,2.7-3.6,2.2-4.8-1.6-2-5.7-2.2-8.6s-2.5-5.9,2.3-6.4c1.6-.2,3.6-.3,3.5,2.4S285.9,396.5,285.9,398.3Zm15.1-.2v5c.1,1.8-.5,2.9-2.5,2.7s-3.1.5-3.2-1a116.3,116.3,0,0,1,.1-13.2c.1-1.4,2.1-1.1,3.2-.9C303.6,392,299.7,396.2,301,398.1Zm11.6,7.7c-4.7-.5-2.4-4.3-2.3-6.4s-2.6-7,2.2-8.6c1.5-.5,3.7-.6,3.6,2.2v10.4C316.2,406.1,314.4,406,312.6,405.8Z" transform="translate(-249.6 -363.4)" />
            </svg>

            Accueil
        </a>
        <a class=" main-menu__link" href="" title="Jouer">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492.5 520.2">
                <path d="M544.2,458.7c.3-30.1.2-58.5-25.8-80.9-7.6-6.6-20.6-24.3,7.9-26,11.2-.7,18.4-9.4,17.2-21.4s-9.5-20-20.6-18.1c-24.9,4.2-27.7-12.5-30.9-29.4-6.6-34.7-23.6-61.7-58-73.8-13.4-4.7-11.1-14.1-13.7-23.7-9.7-35.6-39.9-20.7-62.6-24.1s-19.2,12.9-18.5,25.7-3.8,16-15.6,15.5c-17-.8-34.1-.8-51.2,0-11.7.5-17.5-3.6-15.3-15.4,5-25.4-9.5-26.4-28.9-26.2-27.6.3-54.3-1.3-54,38,0,6.7-7.1,7.8-12.3,9.9-34,13.2-51.3,39.4-57.8,74.1-3.2,17-6.1,33.6-31,29.4-11.1-1.9-19.5,6.3-20.6,18.1s6,20.4,17.3,21.5c34.7,3.3,11.6,22.5,5.5,28.3C54.8,399.6,51,422.4,51.8,448.4c1,28.4.3,56.9.3,85.3,0,36.4.5,72.8-.2,109.2-.6,25.5,10,37.7,36.2,38s46.9-2.3,45.7-35c-.4-13,.6-20.5,17.5-20.4,97.8.8,195.6.6,293.4.2,12.6,0,18.8,2.5,17.5,16.7-3,33.9,18,38.8,45.6,38.6,31.8-.3,36.8-18.7,36.4-44.8Q543.2,547.4,544.2,458.7Zm-398-174.8c6.8-29,25.7-40.8,54.5-40.7q97.4.5,194.6,0c28.8-.1,47.6,11.7,54.5,40.7,6.3,26.4,13,52.7,20,80.9H126.2C133.2,336.6,140,310.3,146.2,283.9ZM482,585.3c-61.3-.8-122.7-.4-184.1-.4s-120.4-.7-180.6.5c-18.9.3-25.5-4.3-24.7-24.1,1.6-39.7,1.3-79.6.1-119.3-.6-24.2,7.5-35.2,33.2-35q172.2,1,344.3,0c22.8-.1,33.6,7.8,33,31.7-.9,42.1-1,84.2.2,126.2C503.9,582,497.8,585.5,482,585.3Z" transform="translate(-51.7 -160.8)" />
                <path d="M297.6,543.8c-15.8,0-31.6.4-47.4-.2-11.6-.5-19.5-7.2-20.1-18.9-.7-13.6,7.7-21.2,20.8-21.5,31.6-.5,63.3-.4,95,.1,11.5.2,19.4,7.1,20,18.8.7,13.6-7.8,21-20.8,21.6C329.3,544.4,313.5,543.8,297.6,543.8Z" transform="translate(-51.7 -160.8)" />
                <path d="M189.2,472.4c-2.3,19-11,30.3-28.5,30-15.4-.2-25.9-9.9-26.2-25.7s10.2-27.7,27.5-28S185,460.4,189.2,472.4Z" transform="translate(-51.7 -160.8)" />
                <path d="M462.1,476.2c-2.5,15.2-10.7,25.9-26.4,26.2s-28.4-9.9-27.8-27.4,11.7-27.4,29.1-26.2C452.7,449.8,460.4,460.8,462.1,476.2Z" transform="translate(-51.7 -160.8)" />
            </svg>
            Jouer
        </a>
        <a class=" main-menu__link" href="" title="A propos">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80.1 78.2">
                <path d="M336.3,420.2a10,10,0,0,0-5.7-4.6c-2.3-.8-4.8-2.3-7.1-2.1-6.1.5-5.7-3-5.6-7.2s.9-3.6,3.6-3.4,7.4,0,11,0c1.9,0,3.3-.9,3.4-2.9s-1.3-3-3.2-3h-6c-5.2,0-8.7-3.6-8.7-8.9v-3.5c0-1.9-.8-3.3-2.8-3.5s-3.2,1.4-3.2,3.6-.1,6.3,0,9.5-.3,2.9-2.6,2.9c-6.4-.2-12.7-.1-19-.1a2.7,2.7,0,0,1-2.5-.9c-2.6-3.2-4.9-6.3-3.9-10.9.4-2.1-.5-4.1-3.2-4s-2.7,1.9-2.8,3.9c-.3,3.9,1.9,9.4-.9,11.3s-7.9.6-12.1.6c-2.2,0-4.7-.1-4.8,2.9s2.3,3.1,4.6,3.1c4.1.1,8-.6,11.6,3.6,1.8,2.1,1.5,3.6,1.5,5.3s-2.2.8-3.4,1.1c-2.8,1-5.8,1.5-8.6,2.5-5.1,1.7-7.7,5.4-7.8,10.9s-.1,8.3,0,12.5c.1,9.6,6.1,15.8,15.8,16,1.3.1,3.5-.2,3.8.4,3,6.8,5,3.7,7-.5.2-.5,1.2-.6,1.8-.9,3.8-1.7,5.8-4.8,6.5-8.8s1.8-8.4,2.6-12.7c1.1-6-2.1-11.6-8.1-12.9-2.8-.7-3.6-1.5-3.6-4.4.1-12.1,0-12.1,12-12.1h9.5a3.1,3.1,0,0,1,2.6.7c3.8,3.3,4.5,7.5,4,12.3-.1,1.8-.2,2.9-2.5,3.1a10.1,10.1,0,0,0-7.4,4.6c-3.7,5.4.1,25.4,5.6,29.1,2,1.3,4.1,2,5.1,4.8a2.4,2.4,0,0,0,4.4-.1c1-3.3,3.1-2.7,5.3-2.7a14.7,14.7,0,0,0,12.5-6.2C338.5,443.9,339.3,425.2,336.3,420.2ZM285,425c3.7.1,5.3,2.6,4.7,6.2s-1.8,8.7-2.6,13.1a5.5,5.5,0,0,1-3.3,4.2c-10.5,4.6-19.7-1.3-19.7-12.6v-7.5a9.9,9.9,0,0,1,11.2-9.4c.7.1,1.9.7,2,1.2C278,424.9,281.3,424.9,285,425Zm46.9,14.8c-.3,5.4-3.7,8.9-9.2,9-13.5.1-12.7,1.4-15.2-11.7-.3-1.8-.8-3.5-1.1-5.3-.8-4.3,1-6.8,5.4-6.9s6-.1,6.6-4.2c.1-1.1,1.4-1.7,2.7-1.7,6.6-.3,10.8,3.7,10.8,10.3v4C331.9,435.5,332,437.6,331.9,439.8Z" transform="translate(-258 -381)" />
            </svg>
            A propos
        </a>
    </nav>

    <img class="main-menu__logo" src="{{ asset('images/svg/logo-white.svg') }}" alt="Logo BarterJailer">

    <nav class="main-menu__right">

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}        {# PLAYER CONNECTÉ #}

            {% if is_granted('ROLE_ADMIN') %}
                <a class="main-menu__link " href="{{ path('app_admin') }}" title="Administration">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M 24 4 C 22.423103 4 20.902664 4.1994284 19.451172 4.5371094 A 1.50015 1.50015 0 0 0 18.300781 5.8359375 L 17.982422 8.7382812 C 17.878304 9.6893592 17.328913 10.530853 16.5 11.009766 C 15.672739 11.487724 14.66862 11.540667 13.792969 11.15625 L 13.791016 11.15625 L 11.125 9.9824219 A 1.50015 1.50015 0 0 0 9.4257812 10.330078 C 7.3532865 12.539588 5.7626807 15.215064 4.859375 18.201172 A 1.50015 1.50015 0 0 0 5.4082031 19.845703 L 7.7734375 21.580078 C 8.5457929 22.147918 9 23.042801 9 24 C 9 24.95771 8.5458041 25.853342 7.7734375 26.419922 L 5.4082031 28.152344 A 1.50015 1.50015 0 0 0 4.859375 29.796875 C 5.7625845 32.782665 7.3519262 35.460112 9.4257812 37.669922 A 1.50015 1.50015 0 0 0 11.125 38.015625 L 13.791016 36.841797 C 14.667094 36.456509 15.672169 36.511947 16.5 36.990234 C 17.328913 37.469147 17.878304 38.310641 17.982422 39.261719 L 18.300781 42.164062 A 1.50015 1.50015 0 0 0 19.449219 43.460938 C 20.901371 43.799844 22.423103 44 24 44 C 25.576897 44 27.097336 43.800572 28.548828 43.462891 A 1.50015 1.50015 0 0 0 29.699219 42.164062 L 30.017578 39.261719 C 30.121696 38.310641 30.671087 37.469147 31.5 36.990234 C 32.327261 36.512276 33.33138 36.45738 34.207031 36.841797 L 36.875 38.015625 A 1.50015 1.50015 0 0 0 38.574219 37.669922 C 40.646713 35.460412 42.237319 32.782983 43.140625 29.796875 A 1.50015 1.50015 0 0 0 42.591797 28.152344 L 40.226562 26.419922 C 39.454197 25.853342 39 24.95771 39 24 C 39 23.04229 39.454197 22.146658 40.226562 21.580078 L 42.591797 19.847656 A 1.50015 1.50015 0 0 0 43.140625 18.203125 C 42.237319 15.217017 40.646713 12.539588 38.574219 10.330078 A 1.50015 1.50015 0 0 0 36.875 9.984375 L 34.207031 11.158203 C 33.33138 11.54262 32.327261 11.487724 31.5 11.009766 C 30.671087 10.530853 30.121696 9.6893592 30.017578 8.7382812 L 29.699219 5.8359375 A 1.50015 1.50015 0 0 0 28.550781 4.5390625 C 27.098629 4.2001555 25.576897 4 24 4 z M 24 7 C 24.974302 7 25.90992 7.1748796 26.847656 7.3398438 L 27.035156 9.0644531 C 27.243038 10.963375 28.346913 12.652335 30 13.607422 C 31.654169 14.563134 33.668094 14.673009 35.416016 13.904297 L 37.001953 13.207031 C 38.219788 14.669402 39.183985 16.321182 39.857422 18.130859 L 38.451172 19.162109 C 36.911538 20.291529 36 22.08971 36 24 C 36 25.91029 36.911538 27.708471 38.451172 28.837891 L 39.857422 29.869141 C 39.183985 31.678818 38.219788 33.330598 37.001953 34.792969 L 35.416016 34.095703 C 33.668094 33.326991 31.654169 33.436866 30 34.392578 C 28.346913 35.347665 27.243038 37.036625 27.035156 38.935547 L 26.847656 40.660156 C 25.910002 40.82466 24.973817 41 24 41 C 23.025698 41 22.09008 40.82512 21.152344 40.660156 L 20.964844 38.935547 C 20.756962 37.036625 19.653087 35.347665 18 34.392578 C 16.345831 33.436866 14.331906 33.326991 12.583984 34.095703 L 10.998047 34.792969 C 9.7799772 33.330806 8.8159425 31.678964 8.1425781 29.869141 L 9.5488281 28.837891 C 11.088462 27.708471 12 25.91029 12 24 C 12 22.08971 11.087719 20.290363 9.5488281 19.160156 L 8.1425781 18.128906 C 8.8163325 16.318532 9.7814501 14.667839 11 13.205078 L 12.583984 13.902344 C 14.331906 14.671056 16.345831 14.563134 18 13.607422 C 19.653087 12.652335 20.756962 10.963375 20.964844 9.0644531 L 21.152344 7.3398438 C 22.089998 7.1753403 23.026183 7 24 7 z M 24 16 C 19.599487 16 16 19.59949 16 24 C 16 28.40051 19.599487 32 24 32 C 28.400513 32 32 28.40051 32 24 C 32 19.59949 28.400513 16 24 16 z M 24 19 C 26.779194 19 29 21.220808 29 24 C 29 26.779192 26.779194 29 24 29 C 21.220806 29 19 26.779192 19 24 C 19 21.220808 21.220806 19 24 19 z"/></svg>
                    Administration
                </a>

                <a class="main-menu__link " href="{{ path('app_admin_logout') }}" title="Déconnexion">
                    <svg id="logout-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 508.9 510.3">
                        <path d="M43.7,418.4c0-55.4-.4-110.8.1-166.2s31.3-85.6,85.3-86q120.3-.9,240.5,0c43.7.3,75.5,24.6,83,62.3,2.9,14.5,3.7,30.2-14,35.1s-24.7-6.7-27.4-23.2c-3.9-23.9-20.2-32.2-43.2-32q-118.5.4-237,0c-31-.2-45.1,14-45,45q.6,168,0,336c0,29,13.2,43.8,42.6,43.8q120.3-.2,240.5,0c23.3.1,38.7-9.3,42.3-33.2,2.2-15.1,9.2-25.5,25-22.6,18.2,3.3,19.1,18.3,16.7,33.4-5.7,35.1-36.2,63.6-74.1,64.2q-129,1.9-258.1.1c-45.5-.7-76.1-33.4-76.9-79.9C43,536.3,43.7,477.4,43.7,418.4Z" transform="translate(-43.5 -165.8)"/>
                        <path d="M482,442.1H258.9c-20,0-40,.4-60-.2-16.7-.4-40,5.6-40.9-20.3s22.2-21.8,39.2-21.9c31.8-.4,63.6-.1,95.3-.1H472l5.8-6.8c-18.2-16.8-36.7-33.5-54.6-50.7-9.8-9.4-17.6-20.6-6-33.6,13-14.7,25.3-7.2,36.2,3.5,29.3,28.9,58,58.4,87.5,87.2,14.5,14.2,15.8,27.5.9,42.3-30.1,29.7-59.8,59.9-90,89.6-10,9.9-21.5,15.6-33.7,3.3s-6.1-23.8,3.9-33.7C439.4,483.2,457.3,466.2,482,442.1Z" transform="translate(-43.5 -165.8)"/>
                    </svg>
                    Déconnexion
                </a>
            {% else %}
                <a class="main-menu__link  {% if app.request.attributes.get('_route') == 'app_account' %}active{% endif %}" href="{{ path('app_account') }}" title="Profil">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 452.3 509.6">
                        <path d="M491.5,277.7c-41.3-21.3-78.4-48.1-113.1-78.8q-71.2-63-145.9-4.9c-38.8,30.1-79.2,57.4-122.7,80.2-48.1,25.2-50.5,53.9-7.6,86.2,28,21,32,46.4,11.9,74.6s-16.6,60,11.1,75.5c20.3,11.3,26.9,27.2,33.6,46.1a211.2,211.2,0,0,0,16.7,36.5c27.6,47.6,66.1,79.3,126,82.6,7.3-1.4,16.9-2.4,26-5,62-17.4,93-64.6,113.5-120.7,5.7-15.6,10.8-27.9,27.3-36.9,28.6-15.8,34.2-48.3,16.9-74.5-23.3-35.5-20.1-55.3,13.1-80.8C534.7,329.8,532.6,298.8,491.5,277.7ZM445.8,487.1c-23.8,4.2-27.1,19.9-32,37.8-8.5,30.8-22.8,59-45.2,82.3-19.3,20-42.3,32.9-71.1,33.3-26.2-.8-47.7-12.4-66.2-30.4-23.3-22.7-37.7-50.7-47.2-81.2-5.9-19.2-7.9-38.2-34.5-42.5-12.9-2-18.5-18.8-8.6-30.3,7.7-8.8,12.3-26,34.5-12.6,80.5,48.4,164.1,49.4,244.8.7,21.4-13,27,1.9,34.9,10.9C466.4,468,460.3,484.6,445.8,487.1Zm29.7-154.8c-17.3,13.9-34.7,20.8-57.5,19.8-40.3-1.8-80.7-.5-121-.5H170.2c-5.8,0-12,1.2-17.2-.4-17.8-5.7-36.8-16.6-42.1-31.5-4.5-12.4,19.1-16.4,30.6-23A841,841,0,0,0,251.2,223c37.6-29.9,67.1-29.8,103.2,1.2s75.4,62.4,120.2,83.2C492.9,315.9,488.6,321.9,475.5,332.3Z" transform="translate(-71.8 -166.1)"/>
                        <path d="M290.5,236.8c-14.1-3.7-33.2-5.2-26.7,18.7.1,22.5,21.1,57,33.8,58.1s35-34.7,35.7-56.7C334.5,217.7,305.4,240.6,290.5,236.8Z" transform="translate(-71.8 -166.1)"/>
                    </svg>
                    Profil
                </a>
                <a class="main-menu__link " href="{{ path('app_logout') }}" title="Déconnexion">
                    <svg id="logout-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 508.9 510.3">
                        <path d="M43.7,418.4c0-55.4-.4-110.8.1-166.2s31.3-85.6,85.3-86q120.3-.9,240.5,0c43.7.3,75.5,24.6,83,62.3,2.9,14.5,3.7,30.2-14,35.1s-24.7-6.7-27.4-23.2c-3.9-23.9-20.2-32.2-43.2-32q-118.5.4-237,0c-31-.2-45.1,14-45,45q.6,168,0,336c0,29,13.2,43.8,42.6,43.8q120.3-.2,240.5,0c23.3.1,38.7-9.3,42.3-33.2,2.2-15.1,9.2-25.5,25-22.6,18.2,3.3,19.1,18.3,16.7,33.4-5.7,35.1-36.2,63.6-74.1,64.2q-129,1.9-258.1.1c-45.5-.7-76.1-33.4-76.9-79.9C43,536.3,43.7,477.4,43.7,418.4Z" transform="translate(-43.5 -165.8)"/>
                        <path d="M482,442.1H258.9c-20,0-40,.4-60-.2-16.7-.4-40,5.6-40.9-20.3s22.2-21.8,39.2-21.9c31.8-.4,63.6-.1,95.3-.1H472l5.8-6.8c-18.2-16.8-36.7-33.5-54.6-50.7-9.8-9.4-17.6-20.6-6-33.6,13-14.7,25.3-7.2,36.2,3.5,29.3,28.9,58,58.4,87.5,87.2,14.5,14.2,15.8,27.5.9,42.3-30.1,29.7-59.8,59.9-90,89.6-10,9.9-21.5,15.6-33.7,3.3s-6.1-23.8,3.9-33.7C439.4,483.2,457.3,466.2,482,442.1Z" transform="translate(-43.5 -165.8)"/>
                    </svg>
                    Déconnexion
                </a>
            {% endif %}

        {% else %}  {# PLAYER DÉCONNECTÉ #}

            <a href="{{ path('app_connexion') }}" class=" main-menu__link {% if app.request.attributes.get('_route') == 'app_connexion' %}active{% endif %}" title="Connexion">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 87.1 81">
                    <path d="M319.2,460.9c-10.6,0-19.7-6.4-22.4-15.8s1.4-17.2,10.6-23.1a6.4,6.4,0,0,0,2.5-4.6c.5-5.8,1-6.5,6.9-6.5,1.7,0,3.3.1,5,0,4.5-.4,6.3,1.6,6.3,6.1a7,7,0,0,0,2.6,5c9.1,6,13.1,14.3,10.5,23.2S329.6,460.8,319.2,460.9Zm-.6-6c9.2.2,17.1-6.4,17.4-14.4s-7.3-15-16.6-15.3-17.1,6.4-17.4,14.5S309.3,454.7,318.6,454.9Zm4.4-37.3c-1.9-1.2-3.1-2.6-4.1-2.4s-1.9,1.7-2.8,2.7c1.1.9,2.1,2.5,3.3,2.7S321.3,419,323,417.6Z" transform="translate(-254.9 -379.9)" />
                    <path d="M254.9,409.1c1.2-13.5,10.9-22.8,23.6-19.5,3.4.8,5.9,1,8.2-2s4.9-2.5,7.3-.1,2.9,2.9,4.3,4.3c4,4,3.9,5.1.1,9.5a6.2,6.2,0,0,0-1.5,4.6c2.4,11.9-1,20.8-9.9,25s-21.2,1.4-27.6-7.6C256.4,419.1,254.9,416.3,254.9,409.1Zm37.1,3.8c-.1-9.4-8.6-17.9-17.9-18s-14.2,6-14.1,14.2,8.9,17.9,18.2,17.8A13.6,13.6,0,0,0,292,412.9Zm0-13.7c1.2-2,2.6-3.3,2.4-4.2s-1.8-1.8-2.9-2.7c-.8,1-2.3,2-2.4,3.1S290.6,397.4,292,399.2Z" transform="translate(-254.9 -379.9)" />
                    <path d="M315,379.9c1.3,1.8,2.9,3,2.7,3.8s-1.9,2.1-2.9,3.1c-.9-1-2.4-2-2.5-3S313.7,381.7,315,379.9Z" transform="translate(-254.9 -379.9)" />
                    <path d="M303,389.9c-1.3-1.8-2.9-3.1-2.7-3.9s1.9-2,3-3c.8,1,2.3,2,2.4,3.1S304.3,388.1,303,389.9Z" transform="translate(-254.9 -379.9)" />
                    <path d="M323,394.2c-1.9,1.2-3.3,2.7-4,2.4s-1.9-2.1-2.9-3.2c1.1-.8,2.2-2.2,3.2-2.2S321.3,392.8,323,394.2Z" transform="translate(-254.9 -379.9)" />
                    <path d="M323,403.6c-1.7,1.4-2.8,3.1-3.6,3s-2.2-1.8-3.3-2.8c1-.9,1.8-2.5,2.8-2.6S321.1,402.4,323,403.6Z" transform="translate(-254.9 -379.9)" />
                </svg>
                Connexion
            </a>
            <a href="{{ path('app_register') }}" class=" main-menu__link {% if app.request.attributes.get('_route') == 'app_register' %}active{% endif %}" title="Inscription">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71.9 78">
                    <path d="M263.5,431.7c.9-3.7,1.3-7.6,2.7-11.1,2.7-6.8,1.8-12.9-2-19s-2.9-7.4,2.6-13.5c3.4-3.8,7-4,11.1-1.5,5.6,3.3,11,2.5,16.7,0a9.1,9.1,0,0,1,6.7,0c5.8,2.5,11.3,3.2,17.1-.3s6.8-1.8,12.3,3.8c3.3,3.3,4.6,6.8,1.7,10.7-4.8,6.7-4.9,13.5-2.3,21.2,4.3,12.8,1.3,24.6-9.8,32.2-6,4.2-13.2,4.8-19.9,8a5.8,5.8,0,0,1-3.9.4c-9.7-3.1-19-7.2-26-15A26,26,0,0,1,263.5,431.7Zm4.2-35.4c7.4,8.8,7.6,18.1,3.6,28a24.5,24.5,0,0,0-.8,2.9,16.9,16.9,0,0,0,3.3,15c6,7.5,14.3,11.2,23.1,14.2a4.2,4.2,0,0,0,2.9-.3c6.5-3.5,13.5-4.5,19.4-8.9s8.6-13.9,5.8-21.7c-3.8-10.3-4.5-20.1,2.9-28.7l-5-6.3c-7.8,5.4-15.4,5.6-23.2,1.8a3.5,3.5,0,0,0-2.8-.2c-8.3,4.2-16.4,3.6-24.3-1.4Z" transform="translate(-262 -384.8)"/>
                    <path d="M310.5,436.8c-1.6.5-3.1,1.1-4.7,1.5s-.9-.5-1.2-.8c-4.3-4.9-8.6-5.1-13.2-.2-.8.9-2.8.6-4.3.9a34,34,0,0,1-.7-4.6,4.8,4.8,0,0,1,.5-1.4c2.5-4.7,1.5-8.2-3.3-10.9-1.5-.9-2.3-3.3-3.3-4.9,1.9-.7,3.9-2,5.7-1.8,5.2.6,7.5-1.5,8.4-6.5.4-1.9,2.5-3.4,3.8-5.1,1.2,1.6,3,3.1,3.4,4.9.9,5.2,3.3,7.4,8.7,6.7,1.7-.2,3.7,1.4,5.5,2.1-1.1,1.6-1.8,3.7-3.3,4.5-4.7,2.7-6,6.1-3.4,10.9A32.2,32.2,0,0,1,310.5,436.8Z" transform="translate(-262 -384.8)"/>
                </svg>
                Inscription
            </a>

        {% endif %}
    </nav>

</header>