<header class="main-menu">

    <a href="{{ path('app_home') }}"><img class="main-menu__logo" src="{{ asset('images/svg/logo-white.svg') }}" alt="Logo BarterJailer"></a>

    <nav class="main-menu__right">

        <a class=" main-menu__link {% if app.request.attributes.get('_route') == 'app_home' %}active{% endif %}" href="{{ path('app_home') }}" title="Jeu">
            Jeu
        </a>
        <a class=" main-menu__link" href="http://149.91.82.236/promo" title="Acheter" target="_blank">
            Acheter
        </a>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}        {# PLAYER CONNECTÉ #}

            {% if is_granted('ROLE_ADMIN') %}
                <a class="main-menu__link " href="{{ path('app_admin') }}" title="Administration">
                    Administration
                </a>

                <a class="main-menu__link " href="{{ path('app_admin_logout') }}" title="Déconnexion">
                    Déconnexion Admin
                </a>
            {% else %}
                <a class="main-menu__link  {% if app.request.attributes.get('_route') == 'app_account' %}active{% endif %}" href="{{ path('app_account') }}" title="Profil">
                    Profil
                </a>
            {% endif %}

        {% else %}  {# PLAYER DÉCONNECTÉ #}

            <a href="{{ path('app_register') }}" class=" main-menu__link {% if app.request.attributes.get('_route') == 'app_register' %}active{% endif %}" title="Inscription">
                Inscription
            </a>

        {% endif %}

        <a class=" main-menu__link important {% if app.request.attributes.get('_route') == 'app_game_home' %}active{% endif %}" href="{{ path('app_game_home') }}" title="Jouer">
            JOUER
        </a>
    </nav>

</header>