{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}

    {{ form_start(registrationForm) }}

        <h1>Inscription</h1>

        {{ form_row(registrationForm.username) }}

        <div class="form-names">
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.lastname) }}
        </div>

        {{ form_row(registrationForm.email) }}

        <p>Avatar</p>
        <div class="arrow">
            <img src="{{ asset('images/svg/arrow-tonic.svg') }}" alt="Tonic arrow">
            <img src="{{ asset('images/svg/arrow-tonic.svg') }}" alt="Tonic arrow">
        </div>
        <div class="form-avatars">
            {% for avatar in  registrationForm.avatar %}
                <div>
                    {{ form_widget(avatar) }}
                    <label for="{{ avatar.vars.id }}">
                        <img class="avatar" src="{{ asset('avatars/' ~ avatar.vars.value ~ '.png') }}" alt="{{ avatar.vars.value }}">
                        {{ avatar.vars.label }}
                    </label>
                </div>
            {% endfor %}
        </div>

        <div>
            {{ form_label (registrationForm.plainPassword.first) }}
            {{ form_widget (registrationForm.plainPassword.first) }}
        </div>

        <div>
            {{ form_label (registrationForm.plainPassword.second) }}
            {{ form_widget (registrationForm.plainPassword.second) }}
        </div>

        {{ form_row(registrationForm.captcha) }}

        <div class="form-checkbox">
            <p>Accepter les CGU</p>
            {{ form_widget(registrationForm.agreeTerms) }}
            {{ form_label(registrationForm.agreeTerms) }}
        </div>

        {{ form_rest(registrationForm) }}

        <div class="form-errors">
            {{ form_errors(registrationForm) }}
        </div>

        <button type="submit" class="btn">Inscription</button>

        <a href="{{ path('app_home') }}">Retour à l'accueil</a>
        {{ form_end(registrationForm) }}
        <p class="bellow-link">Vous avez déjà un compte ? <a href="{{ path('app_connexion') }}">Connectez vous</a></p>
{% endblock %}

{% block additional_scripts %}
    {# GOOGLE CAPTCHA #}
    <script type="text/javascript" src="{{ asset('js/captcha.js') }}"></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onGoogleReCaptchaApiLoad&render=explicit&hl={{app.request.locale}}" async defer></script>
    <script>
        let avatars = document.querySelector('.form-avatars'),
            leftArrow = document.querySelector('.arrow img:nth-child(1)'),
            rightArrow = document.querySelector('.arrow img:nth-child(2)'),
            scrollLeft = avatars.scrollLeft;

        avatars.addEventListener("scroll", function () {
            scrollLeft = avatars.scrollLeft;
        })

        leftArrow.addEventListener("click", function () {
            avatars.scroll({
                left: scrollLeft-110,
                behavior: 'smooth'
            });
        });

        rightArrow.addEventListener("click", function () {
            avatars.scroll({
                left: scrollLeft+110,
                behavior: 'smooth'
            });
        });

    </script>
{% endblock %}