{% extends 'base.html.twig' %}

{% block title %}Modifier profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}

    {{ form_start(form) }}

        <h1>Modifier profil</h1>

        {{ form_row(form.username) }}

        <div class="form-names">
            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
        </div>

        <p>Avatar</p>
        <div class="arrow">
            <img src="{{ asset('images/svg/arrow-tonic.svg') }}" alt="Tonic arrow">
            <img src="{{ asset('images/svg/arrow-tonic.svg') }}" alt="Tonic arrow">
        </div>
        <div class="form-avatars">
            {% for avatar in  form.avatar %}
                <div>
                    {{ form_widget(avatar) }}
                    <label for="{{ avatar.vars.id }}">
                        <img class="avatar" src="{{ asset('avatars/' ~ avatar.vars.value ~ '.png') }}" alt="{{ avatar.vars.value }}">
                        {{ avatar.vars.label }}
                    </label>
                </div>
            {% endfor %}
        </div>

        <div>
            {{ form_label (form.plainPassword.first) }}
            {{ form_widget (form.plainPassword.first) }}
        </div>

        <div>
            {{ form_label (form.plainPassword.second) }}
            {{ form_widget (form.plainPassword.second) }}
        </div>

        {{ form_rest(form) }}

        <div class="form-errors">
            {{ form_errors(form) }}
        </div>

        <button type="submit" class="btn">Sauvegarder les modifications</button>

        <a href="{{ path('app_account') }}">Retour au profil</a>
{% endblock %}

{% block additional_scripts %}
    <script>
        let avatars = document.querySelector('.form-avatars'),
            leftArrow = document.querySelector('.arrow img:nth-child(1)'),
            rightArrow = document.querySelector('.arrow img:nth-child(2)'),
            scrollLeft = avatars.scrollLeft;

        avatars.addEventListener("scroll", function () {
            scrollLeft = avatars.scrollLeft;
        })

        leftArrow.addEventListener("click", function () {
            avatars.scroll({
                left: scrollLeft-110,
                behavior: 'smooth'
            });
        });

        rightArrow.addEventListener("click", function () {
            avatars.scroll({
                left: scrollLeft+110,
                behavior: 'smooth'
            });
        });

    </script>
{% endblock %}